DATABASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

SENTRY_AUTH_TOKEN=""

POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
POLAR_PRODUCT_ID=""
NEXT_PUBLIC_POLAR_PRODUCT_SLUG=""

NEXT_PUBLIC_APP_URL=""

NGROK_URL="" # dev only

ENCRYPTION_KEY=""