# DATABASE
DATABASE_URL=""

# BETTER AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# SENTRY MONITORING
SENTRY_AUTH_TOKEN="" 

# POLAR PAYMENTS
NEXT_PUBLIC_ENABLE_POLAR="false"
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""

# INNGEST
INNGEST_SIGNING_KEY=""
INNGEST_EVENT_KEY=""

# OTHER
NEXT_PUBLIC_APP_URL=""
ENCRYPTION_KEY=""