# Database (Docker)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ai_workflow_automations

# Database (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_workflow_automations?sslmode=disable"

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Sentry Monitoring
SENTRY_AUTH_TOKEN=""

# Polar Payments
NEXT_PUBLIC_ENABLE_POLAR="false"
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL="http://localhost:3000"
POLAR_PRODUCT_ID=""
NEXT_PUBLIC_POLAR_PRODUCT_SLUG="pro"

# Inngest
INNGEST_EVENT_KEY="local"
INNGEST_SIGNING_KEY="local"
INNGEST_BASE_URL="http://127.0.0.1:8288"

# Other
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NGROK_URL="" # dev only
ENCRYPTION_KEY=""